/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

@media (min-width: 374px) {
    .brand {
        margin-left: 30%;
        margin-top: 12px;
    }
    #search {
        width: 33rem;
        top: 1rem;
    }
    .search-btn {
        right: 18%;
        top: 4rem;
    }
    #menu ul li {
        padding-top: 15px;
    }
    #slider {
        padding-top: 8rem;
    }
    .banner-content {
        text-align: center;
    }
    .md\:mb-0 {
        margin-bottom: 5px!important;
    }
    .cat-yellow,
    .cat-pink,
    .cat-blue {
        margin-bottom: 5px;
    }
    .title {
        text-align: center;
    }
    .product {
        margin-bottom: 10px!important;
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}