/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #c7c7c7;
}

li {
    list-style: none;
}

.btn {
    background: transparent;
    padding: 10px 20px;
}

.text-color-pink {
    color: #FF3182;
}

.btn-pink {
    background: #FF3182;
}


/* Nabar */

#navbar {
    position: fixed;
    z-index: 99;
}

nav {
    box-shadow: 1px 2px 3px #ebe0e0;
}

#search {
    background: #F1F1F1;
    width: 25rem;
    padding: 8px 20px;
    border-radius: 40px;
    position: relative;
    color: #000
}

[type=search] {
    font-size: 14px;
    left: -10px;
}

.search-btn {
    position: absolute;
    right: 46%;
    top: 1rem;
}

.fa-search {
    color: #BABABA;
}


/* Banner Slider */

#slider {
    padding-top: 5rem;
}

.mySwiper,
.bg-soft-pink {
    background: #FEEAE9;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    color: #ffc4da;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    background: #ffc4da;
    position: relative;
    bottom: -2.5rem;
}


/* Category */

.title a {
    color: #FF9D00;
    font-size: 20px;
}

.cat-yellow {
    background: #FFB02A;
}

.cat-pink {
    background: #FF287C;
}

.cat-blue {
    background: #403DFB;
}


/* Products */

#products {
    background-color: #F4F4F4;
}

.product {
    background: #fff;
    padding: 1rem;
}


/* Subscribe */

form.subscribe input {
    padding: 8px 20px;
    margin-top: 10px;
    width: 38%;
    border-radius: 4px;
}

.subscribe button {
    background-image: linear-gradient(45deg, #FF589B, #FF589B);
    font-size: 16px;
    padding: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    position: relative;
    left: -5px;
    border-radius: 4px;
}


/* footer */

#footer {
    background: #fff8f8;
}